:root {
    --pink: #fbd4d9;
    --light-pink:  #fdf6f7;
    --light-red: #ff3b3c;
    --light-green: #6dcd6b;
    --dark-red: #ed1b26;
    --dark-pink: #e64e6b;
    --black: #030204;
    --light-gray: #414040;
    font-size: 16px;
    /* FONTS FAMILY */
    --font-family: OpenSans-Bold, sans-serif;
    --font-tittle: lato, sans-serif;
    --font-btn-ordenarAhora:'Hind Siliguri', sans-serif;
}

@font-face {
    font-family: lato;
    src: url(../font/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: sans-serif;
    src: url(../font/open-sans/OpenSans-Regular.ttf);
}

*{
margin:0;
padding:0;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

body {

    background: #fff9;
}


/* HEADER */

header{
    display: flex;
    flex-direction: row;

    width: 100%;
    /* background: rgb(146, 9, 123); */
    background: var(--pink);
    z-index: 999;
    position: fixed;
    position: static;

}

header .content-menu{
    width: 100%;
    margin: 18.8px 0 0 0;
    display: flex;
    flex-direction: row;
}


header .logo-menu{
    display: flex;
    align-content: center;
    width: 100%;
}

header .logo-menu{
    width: 100%;
    margin: 0 0 0 8%;
    display: flex;
    justify-content: flex-start;
}

header .logo-menu img{
    height: 100px;
    padding: 10px 0;
}

header .menu-bar{
    display: none;
}

header nav{
    margin: auto 0;
    width: 100%;
    display: flex;

}


header nav a{
    text-decoration: none;
    color: var(--light-gray);
    font-size: 16px;
    font-family: var(--font-tittle);

    margin: 0 15px;
}
header nav a:hover{
    color: var(--dark-pink);
    transition: all .2s;
    
    text-decoration: underline 3px var(--dark-pink);
    
}




/*  */
    

.small-paragraph {
    background: var(--black);
    text-align: center;
    color: #fff;

    z-index: 9999;
    width: 100%; 
    position: fixed;
    float: none;
}

.small-span a {
    text-decoration: none;
    float: left;
    padding-left: 1.87em;
    color: #fff;
}





/* MAIN CONTENT OF WEBSITE */


/* ARTICLES PRODUCTS EXCLUSIVE */


.products-articles{
    background: var(--light-pink);
    padding: 20px 0 30px 0 ;
    box-shadow: var(--pink) 0 5px 10px 0px;

}

.products-main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-main img{
    /* width: 250px; */
    width: 100%;
    height: 250px;
    }

.products-exclusive-1, .products-exclusive-2, .products-exclusive-3{
    text-align: center;  
    width: 22%;

    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--dark-pink) 0.5px 1px 5px ;
    background: rgba(241, 239, 239, 1);
    margin: 70px 25px 70px 25px;
}

/* -------****   Text EXCLUSIVE  ****------- */

    .text-content-exclusive{
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 120px 0 -10px 0;
    }

    .text-content-exclusive .text{
        display: inline;
        color: var(--dark-pink);
    }

    .hr-exclusive{
        display: inline-block;
        width: 110px;
        border: var(--pink) solid 1px;
        margin: 0 20px 8px 20px;        
    }



/* -------****   PRODUCT EXCLUSIVE 1  ****------- */

.products-exclusive-1{
    text-align: center;
    width: 25%;
    background: rgba(241, 239, 239, .3);
    font-size: 14px;
    position: relative;

}

    .products-exclusive-1  h3{
        color: var(--dark-pink);
        font-size: 1.25em;
        padding-top: 0.50em;
    }

    .products-exclusive-1 p{
        width: 78%;
        margin: 0 auto ;
        color: rgb(59, 59, 59);
        padding: 0.625em;
    }
        .products-exclusive-1 p i{
            font-size: 22px;
            display: inline;
            text-align: center;
            margin: 0 10px 0 0;
        }

    .products-exclusive-1 .position-price{
        display: flex;
        width: 100%;
        /* padding: 0 50% 0 0; */
        font-size: 17.5px;
        flex-direction: row-reverse;
        justify-content: center;

    }


    .products-exclusive-1 .position-price p{
        color: rgb(8, 87, 8);
        padding: 0.625em;
        font-size: 1.0625em;
        font-weight: bold;
        margin: 20px  1.5625em 10px;
        width: 100%;

    }

    .btn-ordenNow-content{
        background: #e64e6ab0;
        width: 60%;
        height: 44px;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 auto 25px auto;
        border-radius: 50px;
    }
        .btn-ordenNow-content:hover{
            box-shadow: #292829 0.5px 1px 4px;
            transition: all 0.15s;
        }
    .btn-ordenNow-content i{
        font-size: 20px;
        margin: auto 5px auto auto;
    }
    .btn-ordenNow-content a{
        font-size: 14px;
        margin: auto auto auto 5px;

        text-decoration: none;
        color: var(--pink);
        font-family: var(--font-btn-ordenarAhora);
    }
        .btn-ordenNow-content a:hover{
            color:  #fab7c1;
        }
    

    /* -------****   END PRODUCT EXCLUSIVE 1  ****------- */


    /* -------**** START  MORE PRODUCTS  ****------- */


.more-products{
   display: flex;
   justify-content: center;
   margin: 35px 0 0 0;
}
    .more-products a{
        text-decoration: none;
        font-size: 18px;
        font-family: var(--font-family);
        color: var(--dark-pink);
        
    }
        .more-products a:hover{
            color: #ffaeba;
            transition: .2s;
        }
    .more-products a i{
        font-size: 35px;
        margin: 10px 0 0 10px;
        color: var(--dark-pink);
    }

        

/* ELEMENTS INFO */



.elements-info {
    display: flex;
    column-gap: normal;
    margin: 100px 55px 100px 55px;
    padding: 20px;
    text-align: center;
}

i {
    font-size: 2.81em;
    color: var(--pink);
    margin-bottom: 20px;
}


/* ELEMENTS INFO ONE */

.element-product-info {
    margin-right: 60px;
    
}

.element-product-info .element-tittle-product {
    font-size: 1.34em;
    color: var(--black);
    margin-bottom: 12.5px;
    font-family: var(--font-tittle);
    font-weight: 700;
}

.element-product-info .element-paragraph-product {
    font-size: 1.08em;
    color: var(--light-gray);
    font-family: var(--font-paragraph);
    font-weight: 400;
}


/* ELEMENTS INFO TWO */

.element-payment-method-info {
    margin-right: 60px;
}

.element-payment-method-info .element-tittle-payment-method {
    font-size: 1.34em;
    color: var(--black);
    margin-bottom: 12.5px;
    font-family: var(--font-tittle);
}

.element-payment-method-info .element-paragraph-payment-method {
    font-size: 1.08em;
    color: var(--light-gray);
    font-family: var(--font-paragraph);
    font-weight: 400;
}


/* ELEMENTS INFO THREE*/

.element-security-info {}

.element-security-info .element-tittle-security {
    font-size: 1.34em;
    color: var(--black);
    margin-bottom: 12.5px;
    font-family: var(--font-tittle);
}

.element-security-info .element-paragraph-security {
    font-size: 1.08em;
    color: var(--light-gray);
    font-family: var(--font-paragraph);
    font-weight: 400;
}


/* PRINCIPALSLIDER */

.slider-one {
    width: 99.9%;
    margin:0 auto;
    overflow: hidden;
}

.slider-one ul {
    margin-top: 0px;
    padding: 0;
    width: 100%;
    /* animation: cambio 10s infinite alternate ease-in; */
}

.slider-one li {
    list-style: none;
    width: 100%;
}

.slider-one img {
    width: 100%;
    height: 550px;
}

/* @keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -200%;
    }
    45% {
        margin-left: -20%;
    }
    50% {
        margin-left: -300%;
    }
    70% {
        margin-left: -300%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -200%;
    } */
/* } */


/* ELEMENTS BRAND */




/* SLIDER TWO (PRODUCTS) */

.bg-slider-two {
    width: 100%;
    height: 460px;
    box-shadow: 5px 5px 50px 1px var(--dark-pink);
    background: var(--pink);
}

.slider-two {
    margin: 60px 50vh 0 50vh;
    width: 50%;
    overflow: hidden;
}

.slider-two ul {
    margin-top: 20px;
    padding: 0;
    display: flex;
    width: 900%;
    height: 800px;
    animation: cambio 15s infinite alternate ease-in;
}

.slider-two li {
    list-style: none;
    width: 100%;
}

.slider-two img {
    width: 50%;
    height: 300px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

/* ELEMENT KNOWME */

.element-knowme{
    width: 70%;
    margin: 10% auto;
}

.tittle-knowme{
    text-align: center;
}





/* ELEMENTS INFORMATIONS ABOUT WEBSITE */

.elements-informations {
    background: linear-gradient(rgba(251, 212, 217, .7) 0%, rgba(251, 212, 217, .7) 100%), url(https://images.unsplash.com/photo-1594569476253-b6d888ca992d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px 10px var(--dark-pink);
    text-align: center;
    margin: 200px 0 200px 0;
}

.element-info-one {
    padding: 90px 0 90px 0;
}

.element-info-one .element-info-tittle-one {
    font-size: 29.5px;
    font-family: var(--font-tittle);
    font-weight: 700;
    color: var(--dark-pink);
    margin-bottom: 20px;
}

.element-info-one .element-info-paragraph-one {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    color: #000;
    width: 70%;
    margin: 0 auto;
}


/* ELEMENTS INFO TWO */

.element-info-two {
    padding: 70px 0 70px 0;
}

.element-info-two .element-info-tittle-two {
    font-size: 29.5px;
    font-family: var(--font-tittle);
    font-weight: 700;
    color: var(--dark-pink);
    margin-bottom: 20px;
}

.element-info-list,
.element-info-list ul li {
    font-size: 17.9px;
    font-family: var(--font-family);
    font-weight: 400;
    color: #000;
    width: 100%;
    margin: 0 auto;
    list-style: none;
}

.element-info-list ul li {
    padding: 17px 0 0 0;
}


/* -------****   FOOTER START  ****------- */

footer{
    width: 100%;
    background: #242323;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-fr-1{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    text-align: center;
    margin: 35px 0 35px 0;

}

footer img{
    /* width: 15%; */
    height: 75px;
    margin: 0 auto 15px auto;
}

footer .content-fr-1 p{
    width: 100%;
    color: #727272;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.content-fr-2{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    text-align: center;
    margin: 35px 0 35px 0;

}

.content-fr-2 h3{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #000;
    margin: 0 0 7px 0;
}

.content-fr-2 .link-content-fr{
    display: flex;
    flex-direction: column;
}
    .content-fr-2 .link-content-fr a{
        width: 16.3%;
        text-decoration: none;
        font-size: 19px;
        color: #b3b3b3;
        margin: 6px auto 6px auto;
    }
    .content-fr-2 .link-content-fr a:hover{
        color: var(--dark-pink);
        font-size: 20px;
        transition: .3s;
        cursor: pointer;
    }


.content-fr-3{
    display: flex;
    flex-direction: column;
    width: 33.3%;
    text-align: center;
    margin: 35px 0 35px 0;
    line-height: 13px;
}

.content-fr-3 .contact-content{
    margin: 0 0 20px 0;
}

.content-fr-3 .contact-content h3{
    font-size: 1.18em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #000;

    margin: 0 0 14px 0;
}

.content-fr-3 .contact-content p{
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    color: #b3b3b3;
    margin: 7px 0 7px 0;
}

.content-fr-3 .social-content h3{
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    color: #b3b3b3;
    
    margin: 0 0 7px 0;
}

.content-fr-3 .social-content a i{
    font-size: 27px;
    margin: 5px 10px 5px 10px;
    text-align: center;
    color: #b3b3b3;
}
    .content-fr-3 .social-content a i:hover{
        color: var(--dark-pink);
        transition: .8s;
        transform: rotate(360deg);
        cursor: pointer;
    }




    /* MEDIA QUERIES FOR PHONES */

    @media screen and (max-width: 992px) {

        header{
            display: flex;
            position: fixed;
            background: #fff2f4;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }
        header .logo-menu img{
            height: 60px;
            margin: 0 0 0 15%;
            padding: 0;
            
        }

        header .btn-bar-style{

        }

        header .content-menu{
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           z-index: 999;
           margin: 0;

            
        }

        header .logo-menu{
            width: 100%;
            padding: 15px 0 15px 0;
            z-index: 999;
            display: flex;
            justify-content: flex-start;
        }

        header nav{
            padding: 35% 0 0 0;
            display: flex;
            flex-direction: column;
            width:80%;
		    height:100%;
            left: -100%;
            background: #fff2f4;
		    margin:0;
		    position: fixed;
            border-radius: 0 0 10px 0;
        }

        header nav a{
            margin: 30px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(114, 114, 114,.1);
            text-align: center;


        }


        header .menu-bar{
            width: 100%;
            display: block;
            /* float: left; */
            position: relative;
            /* background-attachment: fixed; */
            

            
        }
            header .menu-bar i{
                position: absolute;
                right: 0;
                margin: 25px 30px 0;
                z-index: 9999;

            }


/*  */



        .small-paragraph{
            display: none;
        }
        
       
        .slider-one .main-cover{
            width: 100%;
            height: 450px;
        }            

        .products-articles .text-content-exclusive{
            width: 50%;
            margin: 100px 25% 0 25%;
            font-size: 14px;
            text-align: center;
        }

        .products-articles .text-content-exclusive .hr-exclusive{
            display: none;
        }

        .products-main{
            width: 90%;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
        }

        .products-main .products-exclusive-1{
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }

        .elements-info{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin: 100px auto;
        }

        .elements-info .style-reposive-ei{
            margin: 20px 0;
        }

        footer{
            display: flex;
            flex-direction: column-reverse;
        }

        footer .content-fr-1{
            margin: 50px auto 15px auto;

        }
        footer img{
            height: 75px;
        }
        footer .content-fr-2{
            display: none;
        }

        footer .content-fr-3{
            margin: 30px auto 50px auto;
        }

        footer .contact-content{
            display: none;

        }
      }


      @media screen and (max-width: 828px){
        
        .products-main{
            width: 100%;
        }

        .products-main .products-exclusive-1{
            font-size: 14px;
            width: 43%;
            margin: 25px 15px;
        }

        .element-product-info{
            width: 80%;
            
        }

        .elements-info .style-reposive-ei{
            font-size: 12px;
            margin: 20px auto;
        }

       
        .slider-one .main-cover{
            height: 320px;
        }

        footer .content-fr-1 img{
            width: 27%;
            height: 75px;
        }
      }

      @media screen and (max-width: 728px){
       
        footer .content-fr-1 img{
            width: 32%;
            height: 73px;
        }

    }

    @media screen and (max-width: 610px){
               .products-main .products-exclusive-1{
            width: 60%;
            font-size: 13px;
        } 

        .more-products a{
            font-size: 17px;
        }

        footer .content-fr-3 .social-content{
            margin: 0 0 -40px 0;
        }

        footer .content-fr-1 img{
            width: 34%;
            height: 70px;
        }
    }

    @media screen and (max-width: 508px){
        
        .products-main .products-exclusive-1{
            width: 75%;
            
        }

        .elements-info{
            width: 80%;
        }

        footer .content-fr-1 img{
            width: 38%;
            height: 70px;
        }
    }

    @media screen and (max-width: 422px){


        .products-main .products-exclusive-1{
            width: 80%;
        }

        footer .content-fr-1 img{
            width: 40%;
            height: 70px;
        }
    }

    @media screen and (max-width: 322px){
        .products-main .products-exclusive-1{
            width: 80%;
        }

        .elements-info{
            width: 85%;
        }

        footer{
            width: 100%;
            overflow: hidden;
        
        }

        footer .content-fr-3{
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-size: 13px;
        } 

        footer .content-fr-3 .contact-content .email-text{
            text-align: center;
        }

        footer .content-fr-3 .social-content{
            margin: 30px 0 0 0;
        }

        footer .content-fr-3 .social-content .social-tittle{
            color: #b3b3b3;
        }

        footer .content-fr-1 img{
            width: 40%;
            height: 70px;
        }
    }

    @media screen and (max-width: 279px){
        .products-main .products-exclusive-1{
            width: 85%;
        }

        .elements-info{
            width: 100%;
    }

    @media screen and (max-width: 279px){

        .products-main .products-exclusive-1{
            width: 85%;
        }

        .elements-info{
            width: 100%;
    }
    }